{% extends "_onecol.html" %}

{% block title %}Ahmed Zerouali{% endblock %}

{% block body %}
<h1>Publications</h1>


{% set biblio = load_yaml('biblio.yaml') %}

{% set last = {'year': -1, 'kind': None} %}

{% for item in biblio|sort(reverse=True, attribute='kind')|rejectattr('kind', 'equalto', 'Presentation') %}

  {% if last['kind'] != item.kind %}
      <h3>{{ item.kind }}</h3>

    {% if last.update({'kind': item.kind, 'kind': None}) %}{% endif %}
  {% endif %}

  {% if last['kind'] != item.kind %}
    {% if last.update({'kind': item.kind}) %}{% endif %}
  {% endif %}
  <p><li>
    {{ item.year }} - <strong>{{ item.title }}</strong><br />
    {{ item.authors }}
    {% if item.published %}<br />{{ item.published }}{% endif %}
    {% if item.misc %}<br />{{ item.misc }}{% endif %}
    {% if item.link %}<br />[<a href="{{ item.link }}">Download</a>]{% endif %}
    {% if item.link2 %}<br />[<a href="{{ item.link2 }}">Slides</a>]{% endif %}
    {% if item.award %}<br/><a href="assets/other/best_paper_saner.pdf" style="font-weight: bold">{{ item.award }}{% endif %}</a>
  </li></p>
{% endfor %}

{% endblock %}
