{% extends "_onecol.html" %}

{% block title %}Ahmed Zerouali{% endblock %}

{% block body %}
<h1>Services</h1>

{% set services = load_yaml('services.yaml') %}


<h3>Organizing Committee Member</h3>
{% for item in services|selectattr('kind', 'equalto', 'Organization') %}
<p><li>
        <strong>{{ item.event }} </strong></br>
        {{ item.where }}
        {% if item.link %}<br />[<a href="{{ item.link }}">Website</a>]{% endif %}
</li></p>
{% endfor %}


<h3>Reviewer for International Journals and Conferences</h3>

{% for item in services|selectattr('kind', 'equalto', 'Review') %}
<li>
        {% if item.sub %}{{ item.sub }}{% endif %} <strong>{{ item.where }} </strong>{{ item.year }}
    </br>
 </li>
{% endfor %}

<h3>Awards</h3>
{% for item in services|selectattr('kind', 'equalto', 'Awards') %}
<p><li>

        <strong>{{ item.award }} </strong></br>
        {{ item.where }}
        {% if item.link %}<br />[<a href="{{ item.link }}">PDF</a>]{% endif %}
</li></p>
{% endfor %}

<h3>Research Projects</h3>
{% for item in services|selectattr('kind', 'equalto', 'Projects') %}
<p><li>

        <strong>{{ item.project }} </strong></br>
        {{ item.role }}
        {{ item.period }}
        {{ item.event }}
        {% if item.link %}<br />[<a href="{{ item.link }}">Website</a>]{% endif %}
</li></p>
{% endfor %}

{% endblock %}
