{% extends "_onecol.html" %}

{% block title %}Ahmed Zerouali{% endblock %}

{% block body %}
<h1>Talks</h1>


{% set biblio = load_yaml('biblio.yaml') %}

{% for item in biblio|sort(reverse=True, attribute='year')|selectattr('kind', 'equalto', 'Presentation') %}
  <p><li>
    {{ item.year }} - <strong>{{ item.title }}</strong><br />
    {{ item.authors }}
    {% if item.published %}<br />{{ item.published }}{% endif %}
    {% if item.misc %}<br />{{ item.misc }}{% endif %}
    {% if item.slides %}<br />[<a href="{{ item.slides }}">Slides</a>]{% endif %}
</li></p>
{% endfor %}

{% endblock %}
